{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			
			<div class="col-lg-12">
				
				<a href="{{metro.link}}">
					<div class="jumbotron jumbotron-fluid">
			          <div class="container">
			            <h1 class="display-5 text-center">
			                Metropolitan
			                </h1>
			          </div>
			        </div>
		        </a>
		    </div>
			
			{% for post in metropolitan_posts %}
				<div class="col-lg-3">
					{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
				</div>
			{% endfor %}
			
			<div class="col-lg-12">
				
				<a href="{{sport.link}}">
					<div class="jumbotron jumbotron-fluid">
			          <div class="container">
			            <h1 class="display-5 text-center">
			                Olahraga
			                </h1>
			          </div>
			        </div>
		        </a>
		    </div>
			
			{% for post in sport_posts %}
				<div class="col-lg-3">
					{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
				</div>
			{% endfor %}
			
			<div class="col-lg-12">
				
				<a href="{{opini.link}}">
					<div class="jumbotron jumbotron-fluid">
			          <div class="container">
			            <h1 class="display-5 text-center">
			                Opini
			                </h1>
			          </div>
			        </div>
				</a>
				
		    </div>
			
			{% for post in opini_posts %}
				<div class="col-lg-3">
					{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
				</div>
			{% endfor %}
			
		</div>
	</div>
	
	
{% endblock %}